use nix

# export NIX_PATH=nixpkgs=channel:nixos-19.03:.
export NIXOPS_STATE=localstate.nixops
export NIXOPS_DEPLOYMENT=jormungandr-performance-libvirtd
export NIX_PATH=nixpkgs=$HOME/github/nixos/nixpkgs:custom_nixpkgs=$HOME/github/nixos/nixpkgs:jormungandr-nix=$HOME/github/input-output-hk/jormungandr-nix:jormungandr-faucet=$HOME/github/input-output-hk/jormungandr-faucet
